@{
  ViewData["Title"] = "Pagina Inicial";
}

<div class="container-fluid rounded bg-branco">

  <div class="container-fluid pb-3">

    <table id="dtMaterialDesignExample" class="table table-hover table-sm table-fixed" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th-sm">
            Name
          </th>
          <th class="th-sm">
            Position
          </th>
          <th class="th-sm">
            Office
          </th>
          <th class="th-sm">
            Age
          </th>
          <th class="th-sm">
            Start date
          </th>
          <th class="th-sm">
            Salary
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Tiger Nixon</td>
          <td>System Architect</td>
          <td>Edinburgh</td>
          <td>61</td>
          <td>2011/04/25</td>
          <td>
            <a id="badge" class="badge badge-primary"><i class="fas fa-pen-square fa-lg p-2"></i></a>
            <a class="badge badge-success"><i class="fas fa-file-alt fa-lg p-2"></i></a>
            <a class="badge badge-dark"><i class="fas fa-trash-alt fa-lg p-2"></i></a>
          </td>
        </tr>
        <tr>
          <td>Garrett Winters</td>
          <td>Accountant</td>
          <td>Tokyo</td>
          <td>63</td>
          <td>2011/07/25</td>
          <td>
            <a id="badge" class="badge badge-primary"><i class="fas fa-pen-square fa-lg p-2"></i></a>
            <a class="badge badge-success"><i class="fas fa-file-alt fa-lg p-2"></i></a>
            <a class="badge badge-dark"><i class="fas fa-trash-alt fa-lg p-2"></i></a>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>
            Name
          </th>
          <th>
            Position
          </th>
          <th>
            Office
          </th>
          <th>
            Age
          </th>
          <th>
            Start date
          </th>
          <th>
            Salary
          </th>
        </tr>
      </tfoot>
    </table>

  </div>
</div>

@section Scripts {

  <script>
    // Material Design example
    $(document).ready(function () {
      $('#dtMaterialDesignExample').DataTable({
        "pagingType": "full_numbers"
      });
      $('#dtMaterialDesignExample_wrapper').find('label').each(function () {
        $(this).parent().append($(this).children());
      });
      $('#dtMaterialDesignExample_wrapper .dataTables_filter').find('input').each(function () {
        const $this = $(this);
        $this.attr("placeholder", "Search");
        $this.removeClass('form-control-sm');
      });
      $('#dtMaterialDesignExample_wrapper .dataTables_length').addClass('d-flex flex-row');
      $('#dtMaterialDesignExample_wrapper .dataTables_filter').addClass('md-form');
      $('#dtMaterialDesignExample_wrapper select').removeClass('custom-select custom-select-sm form-control form-control-sm');
      $('#dtMaterialDesignExample_wrapper select').addClass('mdb-select');
      $('#dtMaterialDesignExample_wrapper .mdb-select').materialSelect();
      $('#dtMaterialDesignExample_wrapper .dataTables_filter').find('label').remove();
    });
  </script>

}

