@page
@model AccessDeniedModel
@{
  ViewData["Title"] = "Acesso Negado!";
}

<div class="container-fluid rounded bg-branco">

  <div class="container-fluid p-3">

    <header>
      <img src="~/img/area_restrita.png" class="rounded mx-auto d-block" alt="...">
      <h2 class="text-danger font-weight-bold text-center"><i class="fas fa-ban"></i> @ViewData["Title"]</h2>
      <hr />
      <h6 class="text-center">Você não tem acesso a este recurso.</h6>
      <h6 class="text-center">Solicite liberação de acesso junto ao departamento de tecnologia.</h6>
    </header>

  </div>
</div>
