@page
@model AccessDeniedModel
@{
  ViewData["Title"] = "Acesso Negado!";
}

<div class="container-fluid rounded bg-branco">

  <div class="container-fluid p-3">

    <header>
      <h2 class="text-danger font-weight-bold"><i class="fas fa-ban"></i> @ViewData["Title"]</h2>
      <hr />
      <h6>Você não tem acesso a este recurso.</h6>
      <h6>Solicite liberação de acesso junto ao departamento de tecnologia.</h6>
    </header>

  </div>
</div>
